<!DOCTYPE html>

<html>
    <head>
        <title>Dumbtree</title>
        <link rel="stylesheet" href="style.css">
        <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
        crossorigin="anonymous"
      />
      <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="grid-container">

            <header>
                <div class="header-alert">
                    <i class="fas fa-exclamation-circle">   keeping our community safe</i>
                    <a href="https://blog.gumtree.com.au/important-covid-19-update/">COVID-19 Safety Precautions</a>
                </div>

                <div class="header-nav">
                    <div>
                        <i ref="index.html" class="fas fa-home"></i>
                    </div>
                    <div>
                        <a>My Dumbtree</a>
                    </div>

                </div>


            </header>
            <main>
                <div class='main-panel'>
                    <img class="main-bg" src="./ddt.jpg" alt="">
                    <img class="main-logo" src="./gt.png" alt="">

                    <div class='search-bar-wrapper'>
                        <div class='search-form-wrapper'>
    
                            <form class='search-form'action="">
    
                                <ul class='search-bar-list'>
                                    <li class='search-bar-dropdown search-bar-item'>

                                        <div class='sbdb-wrapper'>
                                            <i class="fas fa-bars"></i>
                                            All Categories   
                                            <i class="sbd-icon fas fa-chevron-down"></i>
    
                                            <div class='search-bar-dropdown-content'>
                                                <div id="sbdc-head" value="All categories">
                                                    <i class="fas fa-bars sbdc-icon"></i>
                                                    All categories
                                                </div>
                                                <div value="Electronics">
                                                    <i class="fas fa-laptop sbdc-icon"></i>
                                                    Electronics
                                                </div>
                                                <div value="Vehicles">
                                                    <i class="fas fa-car sbdc-icon"></i>
                                                    Vehicles
                                                </div>
                                                <div value="Miscellaneous">
                                                    <i class="fas fa-shopping-cart sbdc-icon"></i>
                                                    Miscellaneous
                                                </div>
                                            </div>

                                        </div>



                                    </li>

                                    <li class='search-bar-keyword'>
                                        <div class='search-bar-wrapper'>

                                            <input placeholder="I'm looking for..."class='search-input'type="text">

                                        </div>
                                    </li>
                                    <li class='search-bar-location'>
                                        <div class='sbl-wrapper'>
                                            <i class="fas fa-map-marker-alt"></i>
                                            Perth Region, WA
                                        </div>
                                    </li>
                                    <li class='search-bar-distance'>
                                        <div class='sbd-wrapper'>
                                            +0km
                                            <i class="sbd-icon fas fa-chevron-down"></i>
                                        </div>
                                        
                                    </li>
                                    <li class='search-bar-button'>
                                        <div class='sbb-wrapper'>
                                            <i class="fas fa-search fa-2x"></i>
                                        </div>
                                                                      
                                    </li>
                                </ul>
    
                            </form>


                        </div>
                    </div>

                </div>




                <div class='main-items'>
                    <div class='item-tabs'>
                        <ul>
                            <li>
                                <a href="#">HomePage Gallery</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Recently Viewed</a>
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <a href="#">Watchlist</a>
                            </li>
                        </ul>

                    </div>

                    <div class='main_content-container'>

                        <div class='main-content'>
                            <div class='content-items'>
                                <div class='item-card'>
                                    <div class='card-thumb'>
                                        <a class='thumb-link'href="#">

                                            <img class='thumb' src="./rb15.jpg" alt="">

                                        </a>

                                    </div>
                                    <div class='card-detail'>

                                        <h3 class='detail-title'>
                                                Razer Blade laptop 2019 used for sale
                                        </h3>

                                        <div class='detail-price'>
                                            <span class='price-value'>
                                                
                                                <span class='price-currency'>$</span>
                                                
                                                1600
                                            </span>
                                        </div>

                                        <div class='detail-location'>
                                            Perth
                                        </div>
                                        
                                        <div class='detail-addWatchlist'>
                                            <i class="far fa-heart fa-lg"></i>
                                        </div>


                                    </div>

                                </div>
                            </div>

                            <div class='content-items'>
                                <div class='item-card'>


                                </div>
                            </div>
                            <div class='content-items'>
                                <div class='item-card'>


                                </div>
                            </div>
                            <div class='content-items'>
                                <div class='item-card'>


                                </div>
                            </div>
                            <div class='content-items'>
                                <div class='item-card'>


                                </div>
                            </div>
    
                        </div>
    
                    </div>


                </div>




            </main>


            <footer>
                All right reserved
            </footer>
    </div>
    </body>

</html>