
h1{
    font-weight: 400;
}

.register-container{
    position: relative;
}
.register-main{

}
.register-headertitle{
    text-align: center;
    width: 50%;
    margin: 5rem auto 0rem auto;
}
.register-text{
    display: inline;
    font-size: 35px;
}



.register-info-container{
    padding: 5rem;
    height: 500px;
    max-width: 690px;
    margin: 4rem auto;
    background-color:white;
}
.register-agreement{
    font-size:13px;
    padding-bottom: 3rem;
}
.register-form-container{

}
.register-form-container input{
    padding: 15px 20px;
    margin-bottom:2rem;
    border-radius: 5px;
    border: 2px solid rgb(209, 209, 209);
    
}
::placeholder{
    color: rgb(209, 209, 209);
}
/* input:invalid {
    border-color: red;
} */
.register-form{
    display: flex;
    flex-direction: column;
    width: 40%;
}


.input-active:invalid{
    border-color: red;
}

.register-form button {
    height: 50px;
    border-radius: 5px;
    background-color:rgb(59, 177, 59);
    border: none;
    color: white;
    font-weight: 600;
    transition: all 0.5s;
}
.register-form button:hover {
    background-color:rgb(43, 129, 43);
}
.register-signin{
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 12px;
}
.register-signin a{
    color: rgb(59, 177, 59);
    text-decoration: underline;
}
.register-signin a:visited {
    color: rgb(59, 177, 59);
}